@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />
    <title>@ViewData["Title"] - Quản trị COmpStore</title>

    <environment names="Development">

        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <!-- MetisMenu CSS -->
        <link href="~/lib/admin_theme/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="~/lib/admin_theme/dist/css/sb-admin-2.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="~/lib/admin_theme/vendor/morrisjs/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="~/lib/admin_theme/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

        <link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet">

        <link rel="stylesheet" href="~/css/3rd_custom.css" />
        <link rel="stylesheet" href="~/css/admin_site.css" />
    </environment>
 
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin/Index">Quản trị - <b>COmpStore</b></a>
            </div>
        
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        
                        <li>
                            <a asp-action="Index" asp-controller="Admin"><i class="glyphicon glyphicon-home"></i> Trang chính</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="AdminOrder"><i class="glyphicon glyphicon-list-alt"></i> Đơn đặt hàng</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="AdminProduct"><i class="glyphicon glyphicon-th"></i> Sản phẩm</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="AdminCategory"><i class="glyphicon glyphicon-th-large"></i> Loại sản phẩm</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="AdminPublisher"><i class="glyphicon glyphicon-barcode"></i> Nơi sản xuất</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="AdminCustomer"><i class="glyphicon glyphicon-user"></i> Customer</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/lib/admin_theme/vendor/metisMenu/metisMenu.min.js"></script>
        <script src="~/lib/cropit/dist/jquery.cropit.js"></script>
        <!-- Morris Charts JavaScript -->
        <script src="~/lib/admin_theme/vendor/morrisjs/morris.min.js"></script>
        <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="~/lib/admin_theme/dist/js/sb-admin-2.js"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
        <script src="~/js/admin_site.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap-datetimepicker/build/js/moment.js"></script>
        @RenderSection("Scripts", required: false)
    </environment>
</body>
</html>
